.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .form {
    width: 80%;
    .incitingText {
      color: #1900D5 !important;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #ffffff !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #ffffff !important;
}